@import '~bootstrap/scss/bootstrap.scss';

.cat-list-Home-container {
  width: 100%;
}

.cat-catalogue-container {
  width: 95%;
  margin: 0 auto;
}

.cat-search {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.cats-container {
  background-color: #c5c1c3;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}
