.filtercategory {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100px;
}

.books {
  width: 59px;
  height: 30px;
  margin: 18px 41px 11px 0;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-transform: uppercase;
}

.categories {
  display: flex;
  justify-content: space-between;
  height: 16px;
  opacity: 0.5;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-transform: uppercase;
}

.categories-label {
  padding-right: 1.5em;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Filter-heading {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--azure);
  font-size: 2rem;
}

.fa-user {
  color: var(--azure);
}
