@import '~bootstrap/scss/bootstrap.scss';

.navbar-light {
  background-color: #303233 !important;
  color: #fff;
  padding: 5px;
  position: relative;
  box-shadow: 0 0.2rem 0.5rem #303233 ;
}

.container {
  max-width: 100%;
  margin-left: -20px;
}

.navItems {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

.navLink {
  margin: 10px;
}

.navLink a {
  color: #ec0b74 !important;
  text-decoration: none
}

.navLink-small {
  margin-top: 20px; 
}

.navBrand {
  display: flex;
  // align-items: center;
  font-size: 32px;
  line-height: 0.9;
  color: #ec0b74 !important;
}

.navBrandImg {
  margin-right: 10px;
}